<hr />
        <!-- 多说评论框 start -->
        <div class="ds-thread" 
             data-thread-key="{{ page.date|date: '%Y%m%d' }}"  
             data-title="{{ page.title }} " 
             data-url="{{site.url}}/{{page.category}}/{{ page.date|date:'%Y%m%d' }} ">
        </div>


        <script type="text/javascript">
        var duoshuoQuery = {short_name:"xiaolin"};
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0] 
                 || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
        </script>   
        <!-- 多说公共JS代码 end -->
