<div>

	<iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=75&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=0&isWeibo=0&isFans=0&uid=2516796834&verifier=4c0f6630&dpc=1"></iframe>


	<div class="home-contact">
            <a href="https://github.com/xiaolin8" target="_blank" style="margin-left:-5px;"><img src="/images/logo/github.jpg" alt="" width="25"/></a>
            <a href="/atom.xml" target="_blank" style="margin-left:-5px;"><img src="/images/logo/feed.jpg" alt="" width="25"/></a>
            <a href="mailto:{{site.owner.email}}" target="_blank" style="margin-left:-5px;"><img src="/images/logo/mail.jpg" alt="" width="25"/></a>

    </div>


</div>





